name: keepalive

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:
  push:
    paths:
      - ".github/workflows/keepalive.yml"

jobs:
  ping:
    runs-on: ubuntu-latest

    steps:

      # ===== 운영용 서비스 =====

      # =====   - name: 운영 - Ping Manseryeok API
     # =====  run: curl -fsS -m 10 https://my-manseryeok.onrender.com/ping || true

     # =====      - name: 운영 - Ping Proxy Server
      # =====         run: curl -fsS -m 10 https://saju-proxy.onrender.com/ping || true

      - name: 운영 - Ping Payment Server
        run: curl -fsS -m 10 https://easysaju-test.vercel.app/api/ping || true

      - name: 운영 - Ping Products GAS
        run: curl -fsS -m 10 "https://script.google.com/macros/s/AKfycbxqdItEzCRdoaBbHWUM3EOqaCIBGRsT3uF6huiC2sfvt_RyyULixbo7ipXAp8kvfOuA/exec?ping=1" || true

      - name: 운영 - Ping Token Store GAS
        run: curl -fsS -m 10 "https://script.google.com/macros/s/AKfycbx1LiZJ2A1beNiUOoScSswp97Bpf_g1eNqn1UanX3hFlA-Nqnoj3Qg0RPF0fLVE2CRuQQ/exec?ping=1" || true

      - name: 운영 - Ping Order Logger GAS
        run: curl -fsS -m 10 "https://script.google.com/macros/s/AKfycbzhi4556hgBKctN3KVBlPdkl1vFD3oG7Wv7Hdm6pk16VGG8OF6q6EaPT8t_5WTX87Jb/exec?ping=1" || true
        
      - name: 운영 - Ping Products GAS
        run: curl -fsS -m 10 "https://script.google.com/macros/s/AKfycby9Fo7PUR9ehqMA2SqqbinieojtbWg_QB5lLIECtzSr5PgZydRaxzX8-Y9-JfnqwiIhfA/exec?ping=1" || true

      # ===== 테스트용 서비스 =====

      - name: 테스트 - Ping Payment Server
        run: curl -fsS -m 10 https://my-payment-server.vercel.app/api/ping || true

      - name: 테스트 - Ping Test Front
        run: curl -fsS -m 10 https://easysaju-dev.vercel.app || true

      - name: 테스트 - Ping Order Logger GAS
        run: curl -fsS -m 10 "https://script.google.com/macros/s/AKfycbz_SRAMhhOT396196sgEzHeDMNk_oF7IL-M5BpAReKum04hVtkVYw0AwY71P4SyEdm-/exec?ping=1" || true

      - name: 테스트 - Ping Products GAS
        run: curl -fsS -m 10 "https://script.google.com/macros/s/AKfycbzi-6WMsfTiDCR8OlPvx4Z6V8NMPxr94nmow-kO48HDCDMyvufOzrS9ZbZu9LWo2sMEDg/exec?ping=1" || true

      - name: 테스트 - Ping Token Store GAS
        run: curl -fsS -m 10 "https://script.google.com/macros/s/AKfycbyfxB-Vml1Wd1fhW98ztLRyduVX_PI81WatJQza1FNuDOswAJEcntYGBZWo8cqtyzQ/exec?ping=1" || true
